@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$color-1: red;
$color-2: blue;
$color-3: #095484;

$breakpoint: 800px;

// A map of breakpoints.
$breakpoints: (
  mobile: 767px,
  laptop: 1240px,
  desktop-lg: 1800px,
);

@mixin breakpoint($breakpoint) {
  $point: map-get($breakpoints, $breakpoint);
  @media (max-width: $point) {
    @content;
  }
}

@mixin btn-style($pad, $col) {
  padding: $pad;
  // padding: .8rem;
  -ms-box-shadow: 0 0 10px 5px inset $col;
  -moz-box-shadow: 0 0 10px 5px inset $col;
  -o--webkit-box-shadow: 0 0 10px 5px inset $col;
  //   box-shadow: 0 0 10px 5px inset $col;
  border-radius: 6px;
  box-shadow: 5px -5px 15px -5px $col inset, -5px 5px 15px -5px $col inset;
  // box-shadow: -5px -5px -5px -5px $color-3;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  //   background-color: $color-3;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}
button,
// input[type=radio] 
select,
input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: rgb(255, 255, 255) !important;
  // background: #2c3e50;
  background-image: none;
  &:hover {
    transform: scale(1.01);
  }
}
button:disabled {
  color: inherit !important;
  cursor: initial !important;
  &:hover {
    transform: scale(1.01);
    color: graytext !important;
  }
}
body {
  //   the content of body will probably need to change dynamically
  // min-height: 100%;
  // overflow: hidden;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    125.18deg,
    #d8e5eb 0.65%,
    rgba(191, 212, 221, 0) 100.36%
  );

  @include breakpoint(mobile) {
    font-size: 1rem;
    // overflow: scroll;
  }
}
.container {
  position: relative;
  // min-height: 100vh;
  // overflow: hidden;
  height: 100vh;
}
select option[data-default] {
  color: #888;
}
.hide {
  display: none !important;
}
.correct {
  background: rgba(79, 240, 79, 0.5);
}
.incorrect {
  background: rgba(250, 75, 22, 0.5);
}

/* Custom Select */
.select-category {
  position: relative;
  display: flex;
  height: 3em;
  // line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  @include btn-style(0.5rem, $color-3);
  @include breakpoint(mobile) {
    @include btn-style(0.3rem, $color-3);
  }

  select {
    flex: 1;
    padding: 0 0.5em;
    cursor: pointer;
    padding-left: 2rem;
    @include breakpoint(mobile) {
      padding: 0;
      margin-left: 0;
    }
  }
  /* Arrow */
  &::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    // padding: 0 1em;
    padding: 0.9rem;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
    @include breakpoint(mobile) {
      padding: 0.5em;
      right: 0.2rem;
      top: 1.5rem;
    }
  }
  /* Transition */
  &:hover::after {
    color: $color-3;
  }
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    // background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}
#app-header {
  height: 5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.7),
    0 -5px 5px -5px rgba(0, 0, 0, 0.7);
  .logo {
    flex: 1;
    align-self: center;
    // height: 3rem;

    // @media (max-width: map-get($breakpoints, mobile) - 1) {
    //   display: none;
    // }
  }
  @include breakpoint(mobile) {
    padding: 0.2rem;
    height: 3.5rem;
  }
}

#app-content {
  /* loader */
  #loader {
    margin: 0 auto;
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid lighten($color: $color-3, $amount: 20);
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  // overflow: scroll;
  width: 70vw;
  display: flex;
  // flex: 1;
  // place-content: center;
  // display: block;
  flex-direction: column;
  justify-content: center;
  // align-content: center;
  align-items: center;
  // height: 75vh;
  min-height: 75vh;
  // // min-height: fit-content;
  // max-height: 75vh;
  margin: 3rem auto;
  @include breakpoint(mobile) {
    margin: 0.5rem auto;
    width: 90vw;
    // height: 80vh;
    // justify-content: space-evenly;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    // width: 60%; /* Could be more or less, depending on screen size */
    max-width: 90%;
    width: max-content;
    form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
    }

    @include breakpoint(mobile) {
      font-size: 0.8rem;
    }

    section {
      margin-top: 1rem;
      border-bottom: 1px solid #888;
      padding: 0.3rem;

      @include breakpoint(mobile) {
        font-size: 0.8rem;
        &:nth-child(2) {
          display: flex;
          margin-left: 0;
          height: 4rem;
          justify-content: flex-start;
          text-align: left;
        }
      }

      @include btn-style(0.7rem, $color-2);

      * {
        margin-left: 1rem;
      }
    }
    #select-btn {
      @include btn-style(0.5rem, $color-1);
      font-size: 0.9rem;
      margin: 0.7rem auto;
      display: block;
    }
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  //
  .quiz-score {
    width: 70%;
    // max-width: 90%;
    // height: 100%;
    min-height: 1.6rem;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    margin: 0.7rem;
    padding: 0.5rem;

    @include breakpoint(mobile) {
      margin: 0.3rem;
      // padding: 0.2rem;
      width: 90%;
    }

    .progress {
      > span {
        display: inline-block;
        margin-left: 0.5rem;
        margin-bottom: 0.3rem;
        @include breakpoint(mobile) {
          display: none;
        }
      }

      #progress-bar {
        display: block;
        width: 100%;
        height: 1rem;
        border: 1px solid blue;
        span {
          display: block;
          width: 100%;
          background: blue;
          background: lighten($color: $color-2, $amount: 10);
          height: 1rem;
          // font-size: 1rem;
        }
      }
    }

    div {
      flex: 1;
      margin: 0 0.5rem;
      &:nth-of-type(2) {
        text-align: center;
      }
    }
  }
  .quiz-content {
    display: flex;
    // flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: fit-content;

    height: fit-content;
    max-width: 90%;
    margin: 0.9rem auto;
    padding: 0.8rem;
    padding: 1.5rem;

    @include breakpoint(mobile) {
      // max-width: 40%;
      margin: 0.2rem auto;
      padding: 1.2rem;
      width: 90vw;
    }

    .question-header {
      display: flex;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      padding: 0.5rem;
      min-height: fit-content;
      box-shadow: 0 5px 5px -5px $color-2;
      text-align: center;

      @include breakpoint(mobile) {
        font-size: 1.1rem;
        margin-bottom: 0.4rem;
        padding: 0.3rem;
      }
    }
    .answers {
      display: inline-flex;
      // display: flex;
      flex-direction: column;
      justify-self: center;
      justify-content: center;
      align-items: center;
      min-height: fit-content;
      margin-bottom: 1rem;

      @include breakpoint(mobile) {
        margin: 0.5rem auto;
      }

      .answer {
        width: 100%;
        height: fit-content;
        display: inline-block;
        // display: block;
        cursor: pointer;
        margin: 0.2rem 0.5rem;
        padding: 0.4rem;
        box-shadow: 0 5px 5px -5px $color-3;

        @include breakpoint(mobile) {
          margin: 0.1rem 0.1rem;
          padding: 0.2rem;
        }
      }
    }
    input[type='radio'] {
      margin-right: 0.5rem;
    }

    .controls {
      margin: 0.5rem auto;
      @include breakpoint(mobile) {
        margin: 0.2rem auto;
        // padding: 0.3rem;
      }

      button:first-of-type {
        margin-right: 1rem;
      }

      .submit {
        font-weight: bold;
        margin: 0.2rem auto;
        cursor: pointer;
        // place-content: center;
        @include btn-style(0.6rem, $color-2);
      }
    }
  }
  .quiz-results {
    justify-content: flex-start;
  }
  #start-btn {
    @include btn-style(1.5rem, $color-2);
    font-size: 1.5rem;
  }
}
div.place-holder {
  clear: both;
  height: 2.2rem;
  padding-top: 2rem;
}
#app-footer {
  background: cadetblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
